.slider {
    height: 100%;
    text-align: center
}

.scroll {
    height: 100%
}

.box {
    height: 100%;
}

.decision {
    margin-top:50%;
}

.uber {
    color: #fff;
    background: #000;
}


.decision-uber {
    color: #fff;
    font-size: 70px;
}


.white-icon {
    color : #fff !important;
}