.slider {
    height: 100%;
    text-align: center
}

.scroll {
    height: 100%
}

.box {
    height: 100%;
}

.decision {
    margin-top:50%;
}

.uber {
    color: #fff;
    background: #000;
}

.decision-uber * {
    color: #fff;
}

.decision-uber h1, .decision-nah h1 {
    font-size: 70px;
}

.nah {
    background: #fff;
}

.decision-nah * {
    color: #000;
}

.uber .setting-icon {
    color : #fff !important;
}

.nah .setting-icon {
    color : #000 !important;
}