server {
    listen       80;
    server_name  _;
    location / { try_files $uri @django; }
    location @django {
      include uwsgi_params;
      uwsgi_pass unix:/tmp/uwsgi.sock;
    }
    
    {% if not development %}
    location /static/ {
      alias {{ src_dir }}/static/;
    }
    {% endif %}
}