<ion-view hide-nav-bar="true">
    <ion-content>
        <ion-slide-box on-slide-changed="slideChanged($index)">
            <ion-slide>
                <div class="box" ng-class="{uber: decision.uber, nah: !decision.uber}">
                    <div class="row">
                        <div class="col col-33 col-offset-67">
                            <a ui-sref="onboarding()">
                                <button class="button icon ion-gear-b button-clear setting-icon"></button>
                            </a>
                        </div>
                    </div>


                    <div class="decision" ng-if="decision.fetched">
                        <div class="decision-uber" ng-cloak ng-if="decision.uber">
                            <h1>Uber.</h1>
                        </div>

                        <div class="decision-nah" ng-cloak ng-if="!decision.uber">
                            <h1>Nah,</h1>

                            <h3>Use {{ decision.alternative_text }} instead.</h3>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <div class="list">
                        <div class="card" ng-repeat="leg in decision.data.legs">
                            <div class="item item-divider">
                                {{ leg.summary }}
                            </div>

                            <div class="item item-text-wrap">
                                {{ leg.duration }} minutes
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>

